.header {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .navbar .alan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  .alan {
    width: 100%;
  }
  .alan h1 {
    font-size: 4rem;
  }
  .alan .clase {
    margin-left: 18px;
    position: relative;
  }
  .alan .clase::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3.5px;
    bottom: 0;
    left: 0;
    background: linear-gradient(black, white);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
  }
  .alan .clase:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .navbar .alan {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .alan {
    width: 100%;
  }
  .alan .clase {
    margin-left: 5px;
  }
}
@media screen and (max-width: 600px) {
  .alan {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: inherit;
  }
  .alan a {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
}
.contenedorh2 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.contenedorh2 hr {
  margin: 20px;
  width: 30%;
  height: 2px;
}
.contenedorh2 .subiralinicio {
  font-size: 2rem;
}
.contenedorh2 .contenedorh2 h2 {
  padding-top: 0;
}

@media screen and (min-width: 992px) {
  .contenedorgeneral {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-left: 58px;
    line-height: 25px;
  }
  .contenedorgeneral .pago {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .contenedorgeneral .pago p {
    padding-left: 70px;
    grid-area: 1/1/1/5;
    display: flex;
    justify-content: start;
    text-decoration: underline;
  }
  .contenedorgeneral p {
    text-decoration: underline;
  }
  .contenedorgeneral ul {
    padding-left: 0;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .contenedorgeneral {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .contenedorgeneral p {
    text-decoration: underline;
  }
  ul {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .contenedorgeneral {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .contenedorgeneral p {
    text-decoration: underline;
  }
  ul {
    padding-left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

li {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.indexMain {
  padding-top: 1rem;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 3rem;
}
.productos .producto {
  position: relative;
}
.productos .producto img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.productos .producto .producto-categoria {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.productos .producto .producto-categoria {
  font-size: 5rem;
}
.productos .producto-destacado {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.productos .productos-secundarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.productos .productos-secundarios .producto-img {
  width: 100%;
  height: 100%;
  min-height: 100px;
}
.productos .productos-secundarios .producto-categoria {
  font-size: 1.5rem;
}

@media (min-width: 601px) and (max-width: 991px) {
  .productos {
    gap: 0.1rem;
    display: flex;
    overflow: hidden;
    padding-top: 1rem;
  }
  .productos .producto-destacado .producto-categoria {
    font-size: 3rem;
  }
  .productos .producto-destacado {
    margin-bottom: 0.2rem;
  }
  .productos .producto-secundario .producto-categoria {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .productos {
    grid-template-columns: repeat(1, 100%);
  }
}
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1.5s;
}

.cajah2 h2 {
  padding-top: 2rem;
  text-align: center;
}

.row {
  text-align: center;
}
.row .col {
  padding: 10px;
}
.row .col p {
  margin-bottom: 0;
}
.row .col .tarjeta:hover {
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.conteinerRopa {
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .section-img {
    overflow: hidden;
  }
  .cajah2 h2 {
    font-size: 20px;
  }
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

input {
  margin-bottom: 1rem;
}

.boton {
  margin-top: 0.5rem;
  color: white;
  background-color: gray;
  border-radius: 13px;
  width: 38%;
  border: #a5acab;
  cursor: pointer;
}

@media (min-width: 601px) and (max-width: 991px) {
  .container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .container .datosDeContacto {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 0;
  }
  .container .datosDeContacto {
    overflow: hidden;
  }
  .container .boton {
    width: 80px;
  }
}
.compra {
  padding: 5px 60px;
  background-color: #000;
  border: none;
  font-size: 18px;
  position: relative;
  transition: 500ms;
}
.compra span {
  color: gray;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 0.2rem;
}
.compra:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: red;
  box-shadow: 0 0 10px red, 0 0 30px red, 0 0 50px red;
}
.compra div {
  transition: 500ms;
  position: absolute;
  background-color: red;
  box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
}
.compra .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}
.compra .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}
.compra .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}
.compra .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}
.compra:hover {
  color: #000;
}
.compra:hover span {
  color: #000;
}
.compra:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.compra:hover .top, .compra:hover .bottom {
  width: 100%;
}
.compra:hover .left, .compra:hover .right {
  height: 100%;
}

/*# sourceMappingURL=estilos.css.map */
